<%= content_for :title, "Photos by #{@user.name}" %>

<h1>Photos by <%= @user.name %></h1>

<% @user.photos.each_with_index do |photo, index| %>
  <%= link_to image_tag(photo.photo.url(:thumb), class: "photo#{index}"),
              photo_path(photo) %>
  <br />
  <%= photo.caption %>
  <br />
  <%= link_to "Delete Photo", photo_path(photo), method: "delete" %>
  <br/ >
<% end %>

<%= link_to "Delete Account", user_path(@user), method: "delete" %>
