<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class = "navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "Home", photos_path, class: "navbar-text pull-left" %>
      <% if current_user %>
        <%= link_to "Add Photo", new_photo_path, class: "navbar-text pull-left" %>
      <% end %>
      <div class="navbar-text">
        <div class="center-red">
          <%= flash[:alert] %>
          <%= flash[:notice] %>
        </div>
      </div>
      <div class="navbar-text pull-right">
        <% if current_user %>
          Logged in as <%= link_to current_user.name, user_path(current_user) %>  |
          <%= link_to "Sign Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %>  |
          <%= link_to "Sign In", login_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container" id="main">


  <%= yield %>


  </div>

</body>
</html>
